
::ng-deep .p-tabpanels{
    padding: 0;
    background: #495057;
    padding-left: 0;
    .container-fluid{
        padding-left: 0;
    }
}
::ng-deep .p-tablist-tab-list{
    justify-content: flex-end;
}

.input-group-text{
    border-radius: 0;
    border-top-left-radius: 0.375rem; /* Redondea la esquina superior izquierda */
    border-bottom-left-radius: 0.375rem; /* Redondea la esquina inferior izquierda */
}
