<div class="container-fluid">
  Componenetes de boostrap
</div>

<p-tabs value="0">
  <p-tablist>
      <p-tab value="0">Header I</p-tab>
      <p-tab value="1">Header II</p-tab>
      <p-tab value="2">Header III</p-tab>
  </p-tablist>
  <p-tabpanels>
      <p-tabpanel value="0">
          <div class="container-fluit">
            <div class="row">
              <div class="col-12 col-sm-9">
                <div class="d-flex align-items-center p-2 rounded">
                  <span class="input-group-text rounded-start" id="basic-addon1"><i class="pi pi-address-book"></i></span>
                  <input type="text" pInputTex class="w-100" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-3">
                <div class="group-input w-100">
                  <span><i class="pi pi-address-book"></i></span>
                  <input type="text" pInputTex class="w-100" />
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="group-input w-100">
                  <span><i class="pi pi-address-book"></i></span>
                  <input type="text" class="w-100" pInputTex/>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="group-input w-100">
                  <span><i class="pi pi-address-book"></i></span>
                  <input type="text" class="w-100" pInputTex/>
                </div>
              </div>
            </div>
          </div>
      </p-tabpanel>
      <p-tabpanel value="1">
         <div class="container-fluid">
          Nelson
         </div>
      </p-tabpanel>
      <p-tabpanel value="2">
      <div class="container-fluid">
        Nelson
      </div>
      </p-tabpanel>
  </p-tabpanels>
</p-tabs>